html * {
  font-family: neucha !important
}

.nav {
    align-items: center; display: flex; flex-direction: column;
    font-size: 10px;
    text-align: center; 
    margin: 0; padding: 0;
}
.nav button {
    background: #2589BD; box-shadow: #1B6288 0 .25rem;
    border: #1B6288 .25rem solid; border-radius: 3rem;
    font-family: neucha; font-size: 3.5rem; font-weight: 300  !important;
    margin: 2rem;
    padding: .5rem 1.5rem !important;
}
.nav button:hover { 
    box-shadow: #1B6288 0 .5rem;
    transition: .1s ease-in-out !important;
}
.nav button:nth-child(odd){
    transform: translateY(1rem) !important;
}
.nav h1 {
    background-image: url('/src/static/assets/sand.png')  !important; 
    background-clip: border-box !important;
    /*box-shadow: 0 .5rem 1rem rgba(238, 202, 166, 1);*/
    width: 100%;
    margin: 0 !important; padding: 1rem !important;
}
.nav h1 a {color: #926120 !important;}

.wave {
    animation: wave 10s cubic-bezier(0.3, 0.5, 0.6, 0.5) infinite;
    background: url('/src/static/assets/wave-light.svg') repeat-x;
    bottom: -10%; left: 0; position: absolute;
    height: 300px; width: 6400px;
    opacity: 50%;
    transform: translate3d(0, 0, 0);
    z-index: 998;
}

.wave:nth-of-type(2){
    animation: wave 10s cubic-bezier(0.3, 0.5, 0.6, 0.5) -0.125s infinite, swell 7s ease -1.25s infinite;
    background: url('/src/static/assets/wave-dark.svg') repeat-x;
}

@keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1828.57142857px;
    }
  }
  @keyframes swell {
    0%,
      100% {
      transform: translate3d(0, -25px, 0);
    }
    50% {
      transform: translate3d(0, 5px, 0);
    }
}