@font-face {
  font-family: neucha;
  src: url('static/fonts/Neucha-Regular.ttf');
}

html {
  box-sizing: border-box;
  font-size: 12px;
  height: 100%;
}
body {
  font-family: neucha; margin: 0; padding: 0;
  background: radial-gradient(ellipse at center, #D9D9D9 0%, #D9D9D9 35%, #BBDEF2 100%);
  overflow: hidden;
}
a {color: #D9D9D9; text-decoration: none;}
h1 {font-size: 4.5rem; font-weight: 600;}
